.product-box{
    border-bottom: 1px solid #004a96;
    border-right:1px solid #004a96;
    display:inline-block;
    padding:10px;
    background-color: #ecc6c6
}
.product-img{
    height:200px;
    width:100%;
    border:1px solid black;
    background-color: white;
    border-radius: 15px;
}
.product-box:hover{
  width: 250px;
  cursor:pointer;
  margin-top: -18px;
 -moz-box-shadow:    0 0 50px black;
 -webkit-box-shadow: 0 0 50px black;
 box-shadow: 0 0 50px black;    
}
.prod-title{
    font-weight:bold;
    font-size:16px;
    width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.prod-category{
    font-size:16px;
    width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}